.container
  %h2
    Room

  %p
    Tell the URL of this page to invite your friends.

  #messages
    %p Input your name to join this room.
  #username-input
  #message-input

  :javascript
    window.userToken = "sadfafslhkjfalkdfjhaflsdkhl"
    window.roomUUID = "#{@uuid}"
